<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Youtube Converter</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width: device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <style>
        p.jumbotron{
            margin-top: 20px;
        }
    </style>
    <body>
        <div class = "text-center">
            <h1><span class = "text-danger">Youtube</span> Converter</h1>
            </div>
        <div class = "container">
            <label for = "videoURL">Enter the video URL:</label>
            <input type = "text" name = "videoURL" id = "videoURL" class = "form-control" placeholder = "Video URL" required>
            <p class = "jumbotron">
              By using our converter you can easily convert YouTube videos to mp3 (audio) or mp4 (video) files and download them for free - this service works for computers, tablets and mobile devices.

The videos are always converted in the highest available quality. Please note that we can only convert videos up to a length of 1 hour - the limitation is necessary, so the conversion of any video will not take more than a couple of minutes.

Our service is for free and does not require any software or registration. By using our service you are accepting our terms of use.

To convert a video, copy the YouTube video URL into our converter, choose a format and click the convert button. As soon as the conversion is finished you can download the file by clicking on the download button.

Enjoy! We hope you like our service.
            </p>
        </div>
    </body>
</html>